#gopher {
    width: 40px;
}

#csharp {
    width: 40px;
}

#bamboo {
    width: 105px;
}

#k8 {
    width: 48px;
}

#postgres {
    width: 50px;
}

#mysql {
    width: 60px;
}

.svg-inline--fa {
    vertical-align: 0;
}

img, svg {
    vertical-align: unset !important;
}